:root {
    --azulFondo: #202633;
    --azulTabs: #31394c;
    --blancoLetra: #ffffff;
    --grisLetra: #999999;
    --bordeColor: #3d465e;
    --botonAzul: #0078ff;
}

/*fonts*/

@font-face {
    font-family: "robotomedium";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotobold";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--azulFondo);
}


#topcontainer {
    width: 1440px;
    height: 90px;
    margin: auto;
    background-color: var(--azulTabs);
    overflow: auto;
    font-size: 16pt;
    font-family: "robotomedium";
    color: var(--blancoLetra);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid var(--bordeColor);
}

#maincontainer {
    width: 1440px;
    margin: 0 auto;
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.childcontacts {
    flex: 0 1 270px;
    height: 1092px;
    border-right: 2px solid var(--bordeColor);
}

.contactbox {
    flex: 0 0 268px;
    height: 70px;
}

.boximage {
    flex: 0 0 70px;
    height: 70px;
    float: left;
    line-height: 100px;
    margin-left: 30px;
}

.boxcontent {
    flex: 0 0 200px;
    height: 70px;
    margin: auto;
    margin-left: 90px;
}

.boxcontent h3 {
    font-family: "robotomedium";
    color: var(--blancoLetra);
    font-size: 10pt;
    margin: 0px;
    padding: 3px;
    margin: 0;
    position: relative;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.boxcontent p {
    font-family: "robotomedium";
    color: var(--grisLetra);
    font-size: 9pt;
    margin: 0px;
    margin: 0;
    position: relative;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#selected {
    background-color: var(--azulTabs);
}

.newparent {
    display: flex;
    flex-wrap: wrap;
}

.childchat {
    flex: 0 1 1108px;
    height: 1030px;
    margin: 30px;
    background-color: var(--azulTabs);
}

.chatspace {
flex: 0 1 822px;
}

.extraspace {
flex: 0 1 284px;
height: 1030px;
border-left: 2px solid var(--bordeColor);
}

.chathundred {
    flex: 0 1 822px;
    height: 100px;

}

.chathundred p {
    margin: 0px;
    text-align: center;
    justify-items: center;
    align-items: center;
    font-family: "robotomedium";
    font-size: 10pt;
    
    line-height: 100px;
    color: var(--blancoLetra);
}

.chathundred img {
    margin-right: 10px;
}

.buttonpreparator {
    display: table;
}
.chathundred button {
    float: right;
    margin: -70px 20px 0 0; 
    font-family: "robotobold";
    border-radius: 20px;
    font-size: 9pt;
    width: 105px;
    height: 40px;
    border: 1px solid var(--bordeColor);
    background-color: transparent;
    color: var(--grisLetra);
    outline: none;
}

#texterparent {
    display: flex;
    flex-wrap: wrap;
}

.texterselfimage {
    flex: 0 1 60px;
    height: 100px;
    line-height: 127px;
    padding-left: 30px;
}

.texterinput {
    flex: 0 1 625px;
    height: 100px;
    line-height: 100px;
}

.texterinput input {
    width: 600px;
    background-color: transparent;
    font-family: "robotomedium";
    font-size: 14px;
    color: var(--blancoLetra);
    border: transparent;
    outline: none;
}
.texterinput input::placeholder {
    color: var(--blancoLetra);
}

.texteremoji {
    flex: 0 1 45px;
    height: 60px;
    padding: 40px 0 0 0;
}

.texteremoji img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.textercontactimg {
    flex: 0 1 60px;
    height: 100px;
    line-height: 127px;
}

#senderparent {
    display: flex;
    flex-wrap: wrap;
}

.senderuploaders {
    flex: 0 1 600px;
    height: 100px;
    line-height: 105px;
    padding-left: 30px;
}

.senderuploaders img {
    display: inline;
    padding: 0 5px 0 5px;
}

.senderbutton {
    flex: 0 0 192px;
    height: 100px;
}

.senderbutton button {
    background-color: var(--botonAzul);
    margin: 25px 20px 0 0px;
    width: 95px;
    height: 50px;
    border-radius: 30px;
    font-family: "robotobold";
    color: var(--blancoLetra);
}

.chatmain {
    flex: 0 1 822px;
    height: 724px;
    background-color: lightskyblue;
    border-top: 2px solid var(--bordeColor);
    border-bottom: 2px solid var(--bordeColor);
}

#borderbottom {
    border-bottom: 2px solid var(--bordeColor);
}

.chatprofile {
    flex: 0 1 284px;
    height: 306px;
    border-bottom: 2px solid var(--bordeColor);
}

.profileparent {
    display: flex;
    flex-wrap: wrap;
}

.profileinfo {
    flex: 0 1 284px;
    height: 220px;
    text-align: center;
    font-family: "robotomedium";
}

.profileinfo img {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    
    height: 30%;
}

.profileinfo h5 {
    line-height: 30px;
    display: inline;
    color: var(--blancoLetra);
    font-size: 10pt;
}

.profileinfo p {
    display: inline;
    line-height: 30px;
    color: var(--grisLetra);
    font-size: 8pt;
}

.friendgester {
    flex: 0 1 284px;
    height: 85px;
    line-height: 90px;
    text-align: center;
}

.friendgester img {
    display: inline;
    padding: 0 20px 0 20px;
}


.chatimages {
    flex: 0 1 284px;
    height: 722px;
    background-color: pink;
    margin-left: 1px;
}

