:root {
    --azulFondo: #202633;
    --azulTabs: #31394c;
    --blancoLetra: #ffffff;
    --grisLetra: #999999;
    --bordeColor: #3d465e;
    --botonAzul: #0078ff;
}

/*fonts*/

@font-face {
    font-family: "robotomedium";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotobold";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--azulFondo);
}

ul {
    text-decoration: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    display: inline;
}

.topcontainer {
    flex: 0 0 1440px;
    height: 90px;
    margin: auto;
    background-color: var(--azulTabs);
    border-bottom: 2px solid var(--bordeColor);
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.navicon {
    flex: 0 0 70px;
    height: 90px;
    padding: 0 0 0 0;
}

.navicon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 39px 0 0 0;
}


.navtitle {
    flex: 0 0 196px;
    height: 90px;
    font-family: "robotobold";
    color: var(--blancoLetra);
    font-size: 12pt;
    text-align: center;
    line-height: 90px;
    border-right: 2px solid var(--bordeColor);
    border-left: 2px solid var(--bordeColor);
}

.navcategories {
    flex: 0 0 380px;
    height: 90px;
    font-family: "robotobold";
    border-right: 2px solid var(--bordeColor);
}

.navcategories ul li {
    display: inline;
    padding: 0 40px 0 0px;
    text-decoration: none;

}

.navcategories ul li a{  
    outline: none;
    color: var(--grisLetra);
}

.navcategories nav {
    display: block;
    text-align: center;
    line-height: 55px;
    outline: none;
}

.lupitaicon {
    flex: 0 0 70px;
    height: 90px;
    padding: 0 0 0 0;
}

.lupitaicon img {
    display: block;
    margin-left: auto;
    margin-right: 15px;
    padding: 39px 0 0 0;
}

.navsearcher {
    flex: 0 0 380px;
    height: 90px;
    line-height: 95px;
}

.navsearcher input {
    width: 420px;
    background-color: transparent;
    font-family: "robotobold";
    font-size: 14px;
    color: var(--grisLetra);
    border: transparent;
    outline: none;
}
.texterinput input::placeholder {
    color: var(--blancoLetra);
}

.navprofileimage {
    flex: 0 1 60px;
    height: 90px;
    line-height: 120px;
}

.navprofilename {
    flex: 0 1 164px;
    height: 90px;
    line-height: 90px;
    font-family: "robotomedium";
    font-size: 11pt;
    color: var(--grisLetra);
}

.navprofilename img {
    display: inline;
    padding-left: 15px;
}

.maincontent {
    flex: 0 1 1440px;
    height: 850px;
    margin: auto;
}

/*small icon column*/

.iconlayout {
    flex: 0 1 70px;
    height: 850px;
    text-align: center;
    margin-top: 125px;
}

.iconlayout img {
    display: inline;
    padding: 30px 10px 30px 10px;
}

/*dashboards and contacts*/
.dashboardcontacts {
    flex: 0 0 196px;
    height: 940px;
    border-right: 2px solid var(--bordeColor);
    border-left: 2px solid var(--bordeColor);
}

.dashboards {
    flex: 0 0 196px;
    height: 330px;
    background-color: white;
}
.contacts {
    flex: 0 0 196px;
    height: 536px;
    border-top: 2px solid var(--bordeColor);
    border-bottom: 2px solid var(--bordeColor);
}

.contactstitle {
    flex: 0 0 196px;
    height: 70px;
    font-family: "robotomedium";
    color: var(--grisLetra);
    padding-left: 30px;
    line-height: 80px;
}

.contactbox {
    flex: 0 0 196px;
    height: 70px;
}

.boximage {
    flex: 0 0 70px;
    height: 70px;
    float: left;
    line-height: 100px;
    margin-left: 30px;
}

.boxcontent {
    flex: 0 0 200px;
    height: 70px;
    margin: auto;
    margin-left: 90px;
}

.boxcontent h3 {
    font-family: "robotomedium";
    color: var(--blancoLetra);
    font-size: 9pt;
    margin: 0px;
    padding: 0px;
    margin: 0;
    position: relative;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
}

/*bottom icons*/
.additionalgarbage {
    flex: 0 0 196px;
    height: 70px;
    text-align: center;
    margin-top: 25px;
}

.additionalgarbage img {
    display: inline;
    padding: 0 10px 0 10px;
}

/*main stuff*/

