:root {
    --azulFondo: #202633;
    --azulTabs: #31394c;
    --letterWhite: #ffffff;
    --letterGray: #6f7582;
    --background: #212734;
}

/*fonts*/

@font-face {
    font-family: "robotomedium";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotobold";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

#logo {
    font-family: "robotobold";
    font-size: 16pt;
    color: var(--letterWhite);
}

.title {
    color: var(--letterWhite);
    font-size: 16pt;
    font-family: "robotobold";
}

#menu-container {
    width: 199.99px;
    height: 940px;
    display: inline-block;
    background: var(--background);
    color: #ffffff;
}

#menu-container .wrapper {
    padding: 0;
    margin: 0;
}

#container {
    width: 1370px;
    margin: auto;
    background: var(--background);
    display: inline-block;
}


#container .wrapper {
    padding: 0;
    margin: 0;
}

#top-menu ul li {
    display: inline;
    text-decoration: none;
    
}

#top-menu ul li a {
    font-size: 13pt;
    color: var(--letterWhite);
    text-decoration: none;
    font-family: "robotobold";
}

.small-content-box {
    width: 160px;
    height: 160px;
    margin: 30px;
    background: var(--azulTabs);
    display: inline-block;
    text-align: center;
}

.small-content-titles {
    font-family: "robotomedium";
    color: var(--letterGray);
    font-size: 14px;
}

.small-content-content {
    font-family: "robotomedium";
    font-size: 36pt;
    color: var(--letterWhite);
}   


.large-content-box {
    width: 1110px;
    height: 280px;
    margin: 20px;
    background: var(--azulTabs);
    display: inline-block;
}

.large-content-titles {
    font-family: "robotomedium";
    color: var(--letterWhite);
    font-size: 14pt;
}

.large-content-content {
    font-family: "robotomedium";
    color: var(--letterGray);
    font-size: 12pt;
    text-align: center;
}

.clear {
    clear: both;
}

.stats-content-box {
    width: 350px auto;
    height: 310px;
    margin: 20px;
    background: var(--azulTabs);
    display: inline-block;
    font-family: "robotomedium";
    font-size: 13pt;
    color: var(--letterWhite);
}



table, th, td {
    border: 1px solid var(--azulTabs);
    width: 100%;
}

table {
    width: 100%;
}

th {
    width: 50px;
}

p, h3 {
    margin: 16px;
}

