:root {
    --azulFondo: #202633;
    --azulTabs: #31394c;
    --blancoLetra: #ffffff;
    --grisLetra: #999999;
    --bordeColor: #3d465e;
    --botonAzul: #0078ff;
    --numeroVerde: #2ccc71
}

/*fonts*/

@font-face {
    font-family: "robotomedium";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "robotobold";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: var(--azulFondo);
}

.parent {
    display: flex;
    flex-wrap: wrap;
}


ul {
    text-decoration: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    display: inline;
}

.topcontainer {
    flex: 0 0 1440px;
    height: 90px;
    margin: auto;
    background-color: var(--azulTabs);
    border-bottom: 2px solid var(--bordeColor);
}

.parent {
    display: flex;
    flex-wrap: wrap;
}

.navicon {
    flex: 0 0 90px;
    height: 90px;
    padding: 0 0 0 0;
}

.navicon img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 39px 0 0 0;
}


.navtitle {
    flex: 0 0 158px;
    height: 90px;
    font-family: "robotobold";
    color: var(--blancoLetra);
    font-size: 12pt;
    text-align: center;
    line-height: 90px;
    border-left: 2px solid var(--bordeColor);
}

.navcategories {
    flex: 0 0 382px;
    height: 90px;
    font-family: "robotobold";
}

.navcategories ul li {
    display: inline;
    padding: 0 40px 0 0px;
    text-decoration: none;

}

.navcategories ul li a{  
    outline: none;
    color: var(--grisLetra);
}

.navcategories nav {
    display: block;
    text-align: center;
    line-height: 55px;
    outline: none;
}

.lupitaicon {
    flex: 0 0 70px;
    height: 90px;
    padding: 0 0 0 0;
}

.lupitaicon img {
    display: block;
    margin-left: auto;
    margin-right: 15px;
    padding: 39px 0 0 0;
}

.navsearcher {
    flex: 0 0 380px;
    height: 90px;
    line-height: 95px;
}

.navsearcher input {
    width: 420px;
    background-color: transparent;
    font-family: "robotobold";
    font-size: 14px;
    color: var(--grisLetra);
    border: transparent;
    outline: none;
}
.texterinput input::placeholder {
    color: var(--blancoLetra);
}

.navprofileimage {
    flex: 0 1 60px;
    height: 90px;
    line-height: 120px;
}

.navprofilename {
    flex: 0 1 164px;
    height: 90px;
    line-height: 90px;
    font-family: "robotomedium";
    font-size: 11pt;
    color: var(--grisLetra);
}

.navprofilename img {
    display: inline;
    padding-left: 15px;
}

.maincontent {
    flex: 0 1 1440px;
    height: 940px;
    margin: auto;
}

.iconlayout {
    flex: 0 1 90px;
    height: 1010px;
    padding-top: 30px;
    text-align: center;
    border-right: 2px solid var(--bordeColor);
}

.iconlayout img {
    display: inline;
    padding: 20px 20px 20px 20px;
}

.maincontainer {
    flex: 0 0 1106px;
    height: 910px;
    margin: 30px 0 0 75px;
}

.titlelogo {
    flex: 0 0 50px;
    height: 100px;
    line-height: 105px;
    text-align: center;
}

.titlelogo img {
    display: inline;
    margin-left: auto;
    margin-right: auto;
}

.titlemain {
    flex: 0 0 870px;
    height: 100px;
    line-height: 96px;
    font-family: "robotomedium";
    color: var(--blancoLetra);
    font-size: 10pt;
    margin-left: 10px;
}

.titlewidgetadder {
    flex: 0 0 170px;
    height: 100px;
    line-height: 95px;
    text-align: center;
}

.titlewidgetadder button {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-right: 5px;
    font-family: "robotobold";
    font-size: 9pt;
    border-radius: 30px;
    color: var(--grisLetra);
    background-color: transparent;
    border: 1px solid var(--bordeColor);
    outline: none;
    cursor:pointer;
}


.iconlayouttwo {
    flex: 0 1 90px;
    height: 1010px;
    margin-left: 75px;
    padding-top: 30px;
    text-align: center;
    background-color: var(--azulTabs);
    border-left: 2px solid var(--bordeColor);
}

.iconlayouttwo img {
    display: inline;
    padding: 20px 20px 20px 20px;
}

.smallgraphsspace {
    flex: 0 0 1106px;
    height: 165px;
    justify-content: center;
}

.graphsboxes {
    flex: 0 0 254px;
    height: 135px;
    margin: auto;
}

.graphsboxes img {
    height: 100%;
}

.secondrowcontainer {
    flex: 0 0 1106px;
    height: 400px;

}

.creditcardcontainer {
    flex: 0 0 810px;
    height: 370px;
    margin-right: 41px;
}

.creditcardcontainer img {
    height: 361.63px;
}

.totalcostscontainer {
    flex: 0 0 255px;
    height: 370px;
}

.totalcostscontainer img {
    height: 99.7%;
}

.thirdrowcontainer {
    flex: 0 0 1106px;
    height: 310px;
}

.transactionspace {
    flex: 0 0 810px;
    height: 310px;
    margin-right: 41px;
    background-color: var(--azulTabs); 
}

.menurow {
    flex: 0 0 810px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    word-spacing: 65px;
}

.menurow h3 {
    display: inline;
    font-family: "robotomedium";
    color: var(--blancoLetra);
    font-size: 10pt;
}

.menurow p {
    display: inline;
    font-family: "robotomedium";
    color: var(--grisLetra);
    font-size: 10pt;
}

.menuitems {
    flex: 0 0 810px;
    height: 68px;
    border-top: 2px solid var(--bordeColor);
    text-align: center;
    word-spacing: 0px;
    font-family: "robotomedium";
    font-size: 13px;
}

.menuitemslogo {
    flex: 0 0 135px;
    height: 68px;
    margin-left: 20px;
    text-align: center;
    line-height: 90px;
}

.menuitemscard {
    flex: 0 0 100px;
    height: 68px;
    text-align: center;
    line-height: 70px;
    color: white;
}

.menuitemstype {
    flex: 0 0 96px;
    height: 68px;
    text-align: center;
    line-height: 70px;
    color: white;
}

.menuitemscompany {
    flex: 0 0 128px;
    height: 68px;
    text-align: center;
    line-height: 70px;
    color: white;
}

.menuitemsdate {
    flex: 0 0 94px;
    height: 68px;
    text-align: center;
    line-height: 70px;
    color: white;
}

.menutiemsstatus {
    flex: 0 0 110px;
    height: 68px;
    text-align: center;
    line-height: 70px;
    color: white;
}

.menuitemsamount {
    flex: 0 0 127px;
    height: 68px;
    text-align: center;
    line-height: 70px;
    color: var(--numeroVerde);
}

.menuitems p {
    display: inline;
    font-family: "robotomedium";
    color: var(--blancoLetra);
    font-size: 10pt;
}


.helpspace {
    flex: 0 0 255px;
    height: 310px;
    background-color: var(--azulTabs);
    color: var(--blancoLetra);
    font-family: "robotomedium";
    font-size: 10pt;
}

.helpspace p {
    line-height: 35px;
}

.helpspace img {
    margin-right: 30px;
    margin-left: 35px;
    height: 13px;
}
